.root
{
    max-width: 400px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 20px;
}

.errorMessage
{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #f03e3e;
}
