.tag {
    display: inline-block;
    border: 1px solid #72c3fc;
    border-radius: 2px;
    color: #72c3fc;
    font-size: 8px;
    line-height: 8px;
    padding: 1px 5px 0 5px;
    font-weight: 800;
    
    &:hover {
        cursor: pointer;
    }
}

.tag + .tag {
    margin-left: 5px;
}
